.wrapper {
    width: 100%;
    max-width: 60rem;

    margin: 0 auto;
    padding: 3rem 1rem;

    .header,
    .add-wrapper,
    ul.todos {
        @apply bg-[#292929] bg-opacity-25 backdrop-blur-sm p-4 rounded-2xl;
    }

    .header {
        @apply flex justify-between items-center gap-4 max-sm:flex-col max-sm:items-start max-sm:gap-2;

        :global(.fui-Input) {
            @apply max-sm:w-full;
            background: transparent;
        }

        form {
            @apply flex justify-between items-center gap-4 max-sm:flex-col max-sm:items-start max-sm:gap-2 w-full;

            :global(.fui-Input) {
                @apply grow;
            }

            .actions {
                @apply flex gap-2;
            }
        }
    }

    .add-wrapper {
        :global(.fui-Textarea) {
            background: transparent;
        }

        button {
            margin-top: 0.5rem;
        }
    }

    ul.todos {
        @apply flex flex-col gap-6;

        > li {
            @apply bg-[#292929] bg-opacity-25 backdrop-blur-sm rounded-xl overflow-hidden;
        }

        article {
            @apply p-4;
        }

        .actions {
            @apply bg-[#292929] bg-opacity-30 backdrop-blur-sm flex gap-4;
            padding: 0.5rem;

            transition: all 0.3s ease;

            button {
                @apply rounded-md;
            }
        }
    }
}
