@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

::selection {
    @apply dark:bg-blue-900;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @apply bg-slate-300 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-[background-color] duration-300 ease-in;
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

h1 {
    @apply text-7xl;
}

h2 {
    @apply text-6xl;
}

h3 {
    @apply text-5xl;
}

h4 {
    @apply text-4xl;
}

h5 {
    @apply text-3xl;
}

h6 {
    @apply text-2xl;
}

p {
    @apply text-xl;
}

#default-sidebar.show {
    transform: translateX(0px);
}

#drawer-backdrop {
    display: none;
}

#drawer-backdrop.show {
    display: block;
}

.switch {
    user-select: none;

    input:checked ~ .dot {
        transform: translateX(100%);
        @apply bg-blue-800 dark:bg-blue-600;
    }
}

.prose {
    width: 100%;

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
        background: none;
    }
    pre {
        text-shadow: none;

        code {
            white-space: pre-wrap;
            word-wrap: break-word;
            text-align: justify;
        }
    }
}
