@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply dark:bg-blue-900;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @apply bg-slate-300 dark:bg-gray-900 transition-[background-color] duration-300 ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

h1 {
    @apply text-7xl;
}

h2 {
    @apply text-6xl;
}

h3 {
    @apply text-5xl;
}

h4 {
    @apply text-4xl;
}

h5 {
    @apply text-3xl;
}

h6 {
    @apply text-2xl;
}

p {
    @apply text-xl;
}

#default-sidebar.show {
    transform: translateX(0px);
}

#drawer-backdrop {
    display: none;
}

#drawer-backdrop.show {
    display: block;
}
